@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic');

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

/*==========  Sidebar navigation  ==========*/

.nav-sidebar {
  font-size: 90%;
  margin-bottom: 20px;
  margin-left: -15px;
}

.nav-sidebar li {
  border-bottom: 1px solid #eee; 
}

.nav-sidebar li:last-child {
  border: none;
}

.nav-sidebar > li > a {
  padding-right: 10px;
  padding-left: 10px;
}

.nav-sidebar > li > a .fa.arrow:before {
    content: "\f053";
}

.nav-sidebar > .active > a > .fa.arrow:before {
    content: "\f078";
}

.nav-sidebar > .active >a:hover, 
.nav-sidebar > .active >a:focus,
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar li > .nav > li > a {
  padding-left: 37px;
}

/*==========  Theme  ==========*/

* {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.footer .text-muted {
  margin: 16px 0;
}

.navbar {
  border-radius: 0;
}

.navbar>.container-fluid .navbar-brand {
  margin-left: 0;
}

.pagination>li>a, .pagination>li>span
{
  border-radius: 50% !important;
  margin: 0 5px;
}

.text-success,
.text-success:hover, 
a.text-success, 
a.text-success:focus, 
a.text-success:hover { 
  color: #27ae60;
}
.text-warning,
.text-warning:hover, 
a.text-warning, 
a.text-warning:focus, 
a.text-warning:hover { 
  color: #e67e22;
}

.text-danger, 
.text-danger:hover, 
a.text-danger, 
a.text-danger:focus, 
a.text-danger:hover {
  color: #e74c3c;
}

.text-info,
.text-info:hover,
a.text-info,
a.text-info:focus,
a.text-info:hover {
  color: #3498db;
}

.text-primary,
.text-primary:hover,
a,
a:focus,
a:hover {
  color: #1bbae1;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0,0,0, .1);
}

@media(min-width:768px) {    
  .navbar-sidebar {
    z-index: 1;
    position: absolute;
  }
}

@media (max-width: 767px) {
  .table-responsive {
     border: none;
  }
}

/*========== Date​ Picker ===========*/

.datepicker {
  padding: 6px 12px;
}

/*==========  DataTable  ==========*/

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
    cursor: pointer;
    *cursor: hand;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

div.dataTables_length label {
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
}

div.dataTables_info {
  padding-top: 26px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table.table {
  clear: both;
  margin-bottom: 6px !important;
  max-width: none !important;
}

table.dataTable th:active {
  outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  border-top: none;
}

/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
  background-color: #08C;
  color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
  background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
  background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
  cursor: pointer;
  *cursor: hand;
}

div.DTTT .btn {
  color: #333 !important;
  font-size: 12px;
}

div.DTTT .btn:hover {
  text-decoration: none !important;
}


ul.DTTT_dropdown.dropdown-menu a {
  color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0088cc;
  color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal {
  height: 150px;
  margin-top: -75px;
  text-align: center;
}

div.DTTT_print_info h6 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  margin: 1em;
}

div.DTTT_print_info p {
  font-size: 14px;
  line-height: 20px;
}

/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
  background-color: white;
}

div.DTFC_LeftHeadWrapper table {
  margin-bottom: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
  border-top: none;
  margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
  border-top: none;
}

div.DTFC_LeftFootWrapper table {
  border-top: none;
}

